* {
    color: rgb(196, 196, 196);
    background-color: rgb(44, 44, 44);
  }
  

.title,
.statement {
    text-align: center;
  }

div {
  display: flex;
  list-style: none;
  justify-content: center;
}

.image {
  margin: 30px;
}